@(vdto: String)(implicit mi18n: Messages, flash: Flash, req: RequestHeader, lang: Lang)

@views.html.admin.crud_template.frame_basic(vdto) {

    <div class="row">
        <div class="col-md-12">

            <!-- TEMPLATE_FIELD_AREA -->
            <table class="table">
                <thead>
                    <tr>
                        <th>label</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>param</th>
                    </tr>
                </tbody>
            </table>
            <!-- TEMPLATE_FIELD_AREA -->

            <!-- TEMPLATE_BUTTON_AREA -->
            <div class="form-group">
                <a class="btn btn-primary" href="">create.form</a>
            </div>
            <!-- TEMPLATE_BUTTON_AREA -->

        </div>
    </div>
}
