@(vdto: String)(implicit mi18n: Messages, flash: Flash, req: RequestHeader, lang: Lang)

@views.html.admin.crud_template.frame_basic(vdto) {

    <div class="row">
        <div class="col-md-12">

            <form class="form-horizontal">

                <!-- TEMPLATE_FIELD_AREA -->
                <div class="control-group form-group">
                    <label class="control-label col-xs-2">label</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" name="" value="param">
                    </div>
                </div>
                <!-- TEMPLATE_FIELD_AREA -->

                <!-- TEMPLATE_BUTTON_AREA -->
                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-10">
                        <a class="btn btn-primary" href="">create</a>
                        <a class="btn btn-default" href="">cancel</a>
                    </div>
                </div>
                <!-- TEMPLATE_BUTTON_AREA -->

            </form>

        </div>
    </div>

}