@()

@views.html.admin.crud_template.frame() {

    <!-- edit -->
    <div class="row">
        <div class="col-md-12">

            <form class="form-horizontal SCAFFOLD_EDIT_LOGIC_FORM">
                <div class="control-group form-group SCAFFOLD_EDIT_ITERATOR">
                    <label class="control-label col-xs-2 SCAFFOLD_EDIT_FIELD">field</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control SCAFFOLD_EDIT_VALUE" name="" value="">
                    </div>
                </div>
                <input type="hidden" name="" value="">
                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-10">
                        <a class="btn btn-warning SCAFFOLD_BTN_SUBMIT_EDIT" href="">edit</a>
                        <a class="btn btn-default SCAFFOLD_BTN_CANCEL" href="">cancel</a>
                    </div>
                </div>
            </form>

        </div>
    </div>

}