@()(htmlContent: Html)

@views.html.admin.components.main("",
    Seq(),
    Seq(),
    HtmlFormat.raw("")) {


    <div id="wrapper">

        @views.html.admin.components.nav()

        <div id="page-wrapper">

            @views.html.admin.components.heading_breadcrumbs()

            @views.html.admin.components.flashmsg()

            @views.html.admin.components.lang()

            <hr>

            <span class="SCAFFOLD_HTML_CONTENT"></span>

        </div>

    </div>

    @views.html.admin.components.footer()

}
