@(vdto: String)(implicit mi18n: Messages, flash: Flash, req: RequestHeader, lang: Lang)

@views.html.admin.crud_template.frame_basic(vdto) {

    <!-- list -->
    <div class="row">
        <div class="col-md-12">

            <table class="table">
                <thead>
                    <tr>
                        <th class="SCAFFOLD_FIELD_ITERATOR">SCAFFOLD_FIELD</th>
                        <th class=""></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="SCAFFOLD_VALUE_ITERATOR">SCAFFOLD_VALUE</th>
                        <th class="">
                            <a class="btn btn-warning SCAFFOLD_BTN_SHOW_EDIT" href="">to edit</a>
                            <a class="btn btn-danger SCAFFOLD_BTN_SUBMIT_DELETE" href="">delete</a>
                        </th>
                    </tr>
                </tbody>
            </table>
            <div class="form-group">
                <a class="btn btn-primary SCAFFOLD_BTN_SHOW_CREATE" href="">to create</a>
            </div>

        </div>
    </div>

}
