@(str:String)(implicit mi18n: Messages, flash: Flash, req: RequestHeader, lang: Lang)

<div class="btn-group menu-button lang-content">
    <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span>Language　<span class="caret"></span></span>
    </a>
    <ul class="dropdown-menu right-display">
        <li><a href="javascript:void(0);" onclick="alert('language')">العربية</a></li>
        <li><a href="javascript:void(0);" onclick="alert('language')">বাংলা</a></li>
        <li><a href="javascript:void(0);" onclick="alert('language')">မြန်မာဘာသာ</a></li>
        <li><a href="javascript:void(0);" onclick="alert('language')">简体中文</a></li>
        <li><a href="javascript:void(0);" onclick="alert('language')">繁體中文</a></li>
        <li><a href="javascript:void(0);" onclick="alert('language')">English</a></li>
        <li><a href="javascript:void(0);" onclick="alert('language')">Français</a></li>
        <li><a href="javascript:void(0);" onclick="alert('language')">Deutsch</a></li>
        <li><a href="javascript:void(0);" onclick="alert('language')">bahasa Indonesia</a></li>
        <li><a href="javascript:void(0);" onclick="alert('language')">日本語</a></li>
        <li><a href="javascript:void(0);" onclick="alert('language')">한국어</a></li>
        <li><a href="javascript:void(0);" onclick="alert('language')">नेपाली भाषा</a></li>
        <li><a href="javascript:void(0);" onclick="alert('language')">Português</a></li>
        <li><a href="javascript:void(0);" onclick="alert('language')">русский язык</a></li>
        <li><a href="javascript:void(0);" onclick="alert('language')">Español</a></li>
        <li><a href="javascript:void(0);" onclick="alert('language')">ภาษาไทย</a></li>
        <li><a href="javascript:void(0);" onclick="alert('language')">اردو</a></li>
        <li><a href="javascript:void(0);" onclick="alert('language')">Tiếng Việt</a></li>
        <li><a href="javascript:void(0);" onclick="alert('language')">Beluu ęr a Belau</a></li>
    </ul>
</div>