@()

<div class="btn-group menu-button lang-content">
    <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span>Language　<span class="caret"></span></span>
    </a>
    <ul class="dropdown-menu right-display">
        <li><a href="javascript:void(0);" onclick="alert('NOT YET')">العربية</a></li>
        <li><a href="javascript:void(0);" onclick="alert('NOT YET')">বাংলা</a></li>
        <li><a href="javascript:void(0);" onclick="alert('NOT YET')">မြန်မာဘာသာ</a></li>
        <li><a href="javascript:void(0);" onclick="alert('NOT YET')">简体中文</a></li>
        <li><a href="javascript:void(0);" onclick="alert('NOT YET')">繁體中文</a></li>
        <li><a href="javascript:void(0);" onclick="alert('NOT YET')">English</a></li>
        <li><a href="javascript:void(0);" onclick="alert('NOT YET')">Français</a></li>
        <li><a href="javascript:void(0);" onclick="alert('NOT YET')">Deutsch</a></li>
        <li><a href="javascript:void(0);" onclick="alert('NOT YET')">bahasa Indonesia</a></li>
        <li><a href="javascript:void(0);" onclick="alert('NOT YET')">日本語</a></li>
        <li><a href="javascript:void(0);" onclick="alert('NOT YET')">한국어</a></li>
        <li><a href="javascript:void(0);" onclick="alert('NOT YET')">नेपाली भाषा</a></li>
        <li><a href="javascript:void(0);" onclick="alert('NOT YET')">Português</a></li>
        <li><a href="javascript:void(0);" onclick="alert('NOT YET')">русский язык</a></li>
        <li><a href="javascript:void(0);" onclick="alert('NOT YET')">Español</a></li>
        <li><a href="javascript:void(0);" onclick="alert('NOT YET')">ภาษาไทย</a></li>
        <li><a href="javascript:void(0);" onclick="alert('NOT YET')">اردو</a></li>
        <li><a href="javascript:void(0);" onclick="alert('NOT YET')">Tiếng Việt</a></li>
        <li><a href="javascript:void(0);" onclick="alert('NOT YET')">Beluu ęr a Belau</a></li>
    </ul>
</div>