@()

<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="">SB Admin v2.0</a>
    </div>
        <!-- /.navbar-header -->

    @views.html.admin.components.nav_header()

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                        <!-- /input-group -->
                </li>
                <li class="SCAFFOLD_NAV_ITERATOR">
                    <a class="SCAFFOLD_NAV_CRUD_TABLE_LINK"><i class="fa fa-dashboard fa-fw"></i> <span class="SCAFFOLD_NAV_CRUD_TABLE_NAME">Dashboard</span></a>
                </li>
            </ul>
        </div>
            <!-- /.sidebar-collapse -->
    </div>
        <!-- /.navbar-static-side -->
</nav>
