@()

@views.html.crud_template.frame() {

    <!-- list -->
    <div class="row">
        <div class="col-md-12">

            <table class="table">
                <thead>
                    <tr>
                        <th class="SCAFFOLD_LIST_ITERATOR SCAFFOLD_LIST_FIELD"></th>
                        <th class=""></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="SCAFFOLD_LIST_LOGIC_ROWS--PARENT">
                        <th class="SCAFFOLD_LIST_ITERATOR SCAFFOLD_LIST_VALUE"></th>
                        <th class="">
                            <a class="btn btn-warning SCAFFOLD_BTN_SHOW_EDIT" href="">to edit</a>
                            <a class="btn btn-default SCAFFOLD_BTN_SHOW_DETAIL" href="">to detail</a>
                            <a class="btn btn-danger SCAFFOLD_BTN_SUBMIT_DELETE" href="">delete</a>
                        </th>
                    </tr>
                </tbody>
            </table>
            <div class="form-group">
                <a class="btn btn-primary SCAFFOLD_BTN_SHOW_CREATE" href="">to create</a>
            </div>

        </div>
    </div>

}
